body {
  background: black;
}

.thumbnail {
  border: 5px solid white;
}

a { 
  text-decoration: none;
}

img#medium {
  -webkit-box-shadow: 0px 0px 10px black;
  border: 5px solid white;
  position: absolute;
}

